body {
    margin: auto;
    background-color: dimgrey;
    max-width: 1000px;
    color: white;
    font-family: Helvetica, sans-serif;
}
header {
    display: block;
    height: 300px;
    margin-bottom: 60px;
}
h1 {
    font-size: 30px;
    margin: 0;
}
h2 {
    color: greenyellow;
    font-style: italic;
}
h3 {
    font-size: 52px;
    margin: 0;
}
section {
    display: block;
    float: left;
    max-width: 50%;
}
img {
    max-width: 250px;
    margin-top: 50px;
    border: solid yellowgreen 6px;
    border-radius: 7px;
}
aside {
    display: block;
    float: left;
    max-width: 30%;
    height: 700px;
    text-decoration: none;
}
article {
    width: 80%;
}
span {
    font-size: 17px;
    font-style: italic;
    color: black;
}
footer {
    display: block;
    float: left;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: dotted 4px white;
}
.brick {
    display: block;
    float: left;
    width: 50%;
}
.rating {
    padding-left: 0;
}
#Top {
    display: block;
    float: right;
    width: 55%;
    height: 280px;
    margin-bottom: 0;
    margin-top: 40px;
    margin-right: 90px;
}

