body {
    background-color: #dddddd;
    font-family: 'PT Sans', sans-serif;
}

.headings {
    background-color: black;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.wrap-headings {
    height: 100px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: auto;
    display: flex;
    font-family: 'Lobster', cursive;
    color: #6f3576;
    font-size: 65px;
}

h2 {
    text-align: center;
    margin: auto;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #6f3576;
    font-size: 40px;
}

h4 {
    color: #6f3576;
    font-size: 18px;
}

i {
    color: #6f3576;
    padding-right: 8px;
}

.header-center {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.div-ul {
    padding-left: 10px;
}

.project {
    text-align: center;
}

.project_wrap {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #6f3576;
}

ul {
    list-style-type: none;
}

.experience {
    padding: 40px;
}

.education {
    padding: 40px;
}

.skills {
    padding-left: 40px;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.my-photo {
    height: 600px;
}

.my-photo img {
    height: 600px;
    width: auto;
}

li {
    padding: 15px;
}